.cv {
  margin: 20px;
  border: solid 1px gray;
  border-radius: 5px;
}

form {
  padding: 20px;
  width: 70%;
}

.mainTitle {
  text-align: center;
}

.formLine {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
